<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
		http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Aena_Web</display-name>
	<!-- Fichero de configuración que Spring debe cargar -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:aplicationContext.xml</param-value>
		<!-- <param-value>classpath*:META-INF/spring/applicationContext*.xml</param-value>-->
	</context-param>

	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<!--El listener de la aplicación permite que el framework de Spring se carque 
		y lea el fichero de configuración antes que la aplicación web entre ne funcionamiento -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- Welcome page -->
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>

</web-app>